<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="mparaiso">
    <meta name="keywords" content="urlshortener,html5,application">
    <title>Shorten</title>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>